.font-inter {
  font-family: "Inter", sans-serif;
}
.font-raleway {
  font-family: "Raleway", sans-serif;
}

#selection-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.bg-green {
  background-color: #1dd100;
  color: white;
  color: #e7e7e7;
}

/* .text-green {
  color: text-[#1dd100];
}

.bg-green {
    bg-[#1dd10066] 
}
*/
