.font-inter {
  font-family: "Inter", sans-serif;
}
.font-raleway {
  font-family: "Raleway", sans-serif;
}

/* .text-green {
  color: text-[#1dd100];
}

.bg-green {
    bg-[#1dd10066] 
    text-[#03071280]
} */
